.Navigation_Bar
{
    display: flex;
    margin: auto;
    margin-top: 3ch;
    justify-content: center;                   /* Design to Navigation Bar flex box */
    align-items: center; 
    background-image: url('star.jpg');
    padding: 10px;
    width: 90%;
    flex-wrap: wrap;
}

.Nav_Bar_Letter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 390px;                             /* Design to Navigation Bar contents */
    height: 70px;
    color: white;
    margin: 10px;  
    font-family: "Garamond", serif;
    font-size: 30px;
    font-weight: bold;

    border-style: dotted;
    border-width: 3px;
}

.Photo
{
    background-image: url('galaxy.png');
    background-size:1500px;
    height: 400px;                                  /* Design to Photo Bar */
    background-position: center;
    background-repeat: no-repeat;
}

.Photo img
{
    width: 390px;
    height: auto;
    margin-top: 7ch;                                /* Design to Photo Image */

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#Projects
{
    width: 390px;
    height: 70px;
    color: white;
    font-family: "Garamond", serif;
    font-size: 30px;                               /* Design to Project Title */
    font-weight:normal;

    margin-top: 7ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Projects_Bar
{
    display: flex;                                  /* Design to Project Bar flex box */
    margin: auto;
    justify-content: center;
    align-items: center; 
    background-image: url('star.jpg');
    padding: 5px;
    width: 90%;
    flex-wrap: wrap;
}

#CMSC12
{
    width: 450px;
    height: auto;

    border-style: dashed;
    border-width: 2px;                                      /* Design to Project Number 1 */
    border-color: white;
    
}

#CMSC22
{
    width: 200px;
    height: auto;

    border-style: dashed;
    border-width: 2px;
    border-color: white;                                /* Design to Project Number 2 */
}

#CMSC150
{
    width: 350px;
    height: auto;

    border-style: dashed;
    border-width: 2px;                                     /* Design to Project Number 3 */
    border-color: white;
}

.Projects_Bar img
{
    display: block;                                         /* Design to Project Bar background */
    margin-left: auto;
    margin-right: auto;
}

.skill_auto_bar 
{
    display: flex;                                          /* Skills/Autobiography flex box */
    
}

.Skills_Bar,.Auto_Bar 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10ch;
    height: 360px;                                          /* Design to Skills and Autobiography flex items*/
    padding: 5px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-image: url('constellation.png');
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

#skillheader,#autoheader 
{
    font-family: "Garamond", serif;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;                                     /* Design to skills and autobiography title */
    align-items: center;
    margin-top: 10px;
    font-weight: bolder;
    flex-direction: column;
}

.skills,.auto 
{
    font-family: "Garamond", serif;
    font-size: 15px;
    color: white;                                          /* Design to skills and autobiography content */
    margin-top: -10px;
    align-items: center;
    flex-wrap: wrap;
}

.Skills_Bar 
{
    width: 50%;                                                 /* Design to skills flex item */
    background-position: left;
    flex-wrap: wrap;
}

.Auto_Bar 
{
    width: 50%;
    background-position: right;                                 /* Design to autobiography flex item */
    flex-wrap: wrap;
}

.footer
{
    display: flex;
    display: flex;
    align-items: center;
   
    margin-top: 10ch;                                           /* Design to Footer flex box */
    height: 300px;
    width: 100%;
    padding: 5px;
    background-image: url('planets.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer img
{
    width: 350px;
    height: auto;                                               /* Design to Logo*/

    display: block;
    width: 25%;
}

.info-container {
    flex: 5;
    font-size: 20px; 
    font-family: "Garamond", serif;

    width: 350px;                                               /* Design to details */
    height: auto;

    display: block;
    width: 25%;

    color: white;                                           
    margin-bottom: 10px;
}

.info {
    color: white;                                           /* Design to details */
    margin-bottom: 10px;
}